body {
  font-family: sans-serif;
  background-color: aliceblue;
}

#container {
}

#header {
  text-align: center;
}

#intro {
  text-align: center;
}

#channel {
  text-align: center;
}

img {
  width: 100px;
}

a,
a:visited,
a:active {
  color: #f06800;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
